@{
    @model List<Crud_MVC.Models.Domain.Student>
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Registration System</h1>
    <table class="table">
        <thead>
            <tr>
                @*<th>Id</th>*@
                <th>Name-Surname</th>
                <th>Email</th>
                <th>StudentId</th>
                <th>Date Of Birth</th>
                <th>Department</th>
                <th> </th>
            </tr>
        </thead>

    </table>
</div>
